@charset "UTF-8";

li{
  list-style: none;
  text-align: center;
}

h1{
  background-color: #e2970c;
  font-size: 30px;
  border-left: #e2970c solid 5px;
  padding-left: 5px;
  margin-bottom: 20px;
}

h2{
  font-size: 16px;
  margin-bottom: 15px;
}

h3{
  font-size: 15px;
  margin-bottom: 10px;
}

html, body, #wrapper{
  min-height: 100%;
}

ul, ol{
  margin-bottom: 10px;
}

#main_nav{
  text-align: center;
  padding: 20px;
}

#main_nav li{
  display: inline-block;
}

#main_nav li a,
#main_nav li span{
  font-size: 40px;
  text-decoration: none;
  margin: 0 20px;
  padding-bottom: 5px;
  font-weight: bold;
}

#main_nav li a:hover,
#main_nav li span{
  color: #e2970c
}112
#animation {
margin: 50px 0;
font-size: 40px;
font-weight: bold;
color: #ff0000;
}

.fadeInDown {
 -webkit-animation-fill-mode:both;
 -ms-animation-fill-mode:both;
 animation-fill-mode:both;
 -webkit-animation-duration:1s;
 -ms-animation-duration:1s;
 animation-duration:1s;
 -webkit-animation-name: fadeInDown;
 animation-name: fadeInDown;
 visibility: visible !important;
}
@-webkit-keyframes fadeInDown {
 0% { opacity: 0; -webkit-transform: translateY(-20px); }
 100% { opacity: 1; -webkit-transform: translateY(0); }
}
@keyframes fadeInDown {
 0% { opacity: 0; -webkit-transform: translateY(-20px); -ms-transform: translateY(-20px); transform: translateY(-20px); }
 100% { opacity: 1; -webkit-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); }
}
